body {
  background: #fafafa;
  font-family: Ubuntu, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;

}

.wrapper {
  max-width: 1200px;
  min-width: 480px;
  padding: 0 24px;
}

.fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 24px;
  min-width: 480px;
}
