body {
  background: #fafafa;
  font-family: Ubuntu, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; 
}

.wrapper {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 24px 0;
}
