.root {
  color: #000000;
  padding: 8px;
  transition: background-color .16s ease-in-out;
}

.root-selected {
  background-color: #f0f0f0;
}

.title {
  cursor: pointer;
  display: inline;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 0 8px 8px;
}

.title:hover {
  text-decoration: underline;
}

.level-zero {
  padding-left: 16px;
}

.level-first,
.level-second,
.level-third,
.level-fourth {
  padding-left: 24px;
}

.button {
  background: none;
  border: 0;
  padding: 0;
}

.icon {
  transform: rotateZ(-180deg);
  transition: transform .16s ease-in-out;
}

.icon-selected  {
  transform: rotateZ(0deg);
}
